APP_NAME=StudyBuddy
APP_ENV=local
APP_DEBUG=true
APP_KEY=

APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=study_buddy_db
DB_USERNAME=studybuddy_user
DB_PASSWORD=

NEXT_PUBLIC_API_URL=/api